<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/home/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/home/favicon/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/home/favicon/img/favicon-16x16.png">
    <link rel="manifest" href="/static/home/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/home/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- CSS -->
    <link rel="stylesheet" href="../static/home/css/styles.css">

    <!-- cdn.tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HANNA | {{ title }}</title>
</head>
<body class="text-white">

{% block header %}
{% endblock header %}
{% block content %}
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% include 'footer.html' %}
</body>
</html>