<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/home/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/home/favicon/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/home/favicon/img/favicon-16x16.png">
    <link rel="manifest" href="/static/home/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/home/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- reset CSS -->
    <!--    <link rel="stylesheet" href="/static/home/css/reset.css">-->

    <!-- font Poiret  -->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <!-- dark mode -->
    <link rel="stylesheet" href="/static/home/css/dark_mode.css">

    <!-- main css -->
    <link rel="stylesheet" href="/static/home/css/main.css">

    <!-- cdn.tailwindcss -->
    <link rel="stylesheet" href="/static/home/css/twmain.css">
    <!--    <script src="https://cdn.tailwindcss.com"></script>-->

    <title>HANNA | {{ title }}</title>

</head>
<body>

{% block content %}
{% endblock content %}
{% include 'footer.html' %}

<!-- dark mode -->
<script src="/static/home/js/dark_mode.js"></script>
<!-- Dropdown btn -->
<script src="/static/home/js/dropdown_btn.js"></script>
<!-- hamburger btn -->
<script src="/static/home/js/hamburger.js"></script>

</body>
</html>