{% load i18n %}
<nav class="text-sm lg:text-base">
            <ol class="flex">
                <li><a
                       {% if request.resolver_match.url_name == 'home' %}
                       class="nav-link-disabled"
                       {% else %}
                       href="{% url 'home' %}" class="nav-link"
                       {% endif %}
                >{% trans 'Home' %}</a></li>
                <li><span class="nav-link-disabled mx-2">|</span></li>
                <li><a
                        {% if request.resolver_match.url_name == 'news' %}
                       class="nav-link-disabled"
                       {% else %}
                       href="{% url 'news' %}" class="nav-link"
                       {% endif %}
                >{% trans 'News' %}</a></li>
                <li><span class="nav-link-disabled mx-2">|</span></li>
                <li><a
                {% if request.resolver_match.url_name == 'concerts' %}
                       class="nav-link-disabled"
                       {% else %}
                       href="{% url 'concerts' %}" class="nav-link"
                       {% endif %}
                >{% trans 'Concerts' %}</a></li>
                <li><span class="nav-link-disabled mx-2">|</span></li>
                <li><a
                        {% if request.resolver_match.url_name == 'contact' %}
                       class="nav-link-disabled"
                       {% else %}
                       href="{% url 'contact' %}" class="nav-link"
                       {% endif %}
                >{% trans 'Contact' %}</a></li>
                <li><span class="nav-link-disabled mx-2">|</span></li>
                <li><a
                 {% if request.resolver_match.url_name == 'about' %}
                       class="nav-link-disabled"
                       {% else %}
                       href="{% url 'about' %}" class="nav-link"
                       {% endif %}
                >{% trans 'About' %}</a></li>
            </ol>
        </nav>