<div class="bg-black">
    <!-- Paginator -->
    <div class="container mx-auto mb-5">
        {% if page_obj.has_other_pages %}
        <div class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4">
            <div class="w-full  flex items-center justify-between ">
                <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {% if page_obj.has_previous %}
                    <!--Active btn Previous-->
                    <a class="text-sm ml-3 font-medium leading-none" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% else %}
                    <!--Disable btn Previous-->
                    <a class="text-sm ml-3 font-medium text-red-900 leading-none">Previous</a>
                    {% endif %}
                </div>


                <div class="sm:flex hidden">
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <!--Active page -->
                    <p class="text-sm font-medium leading-none text-indigo-700 border-t border-indigo-400 pt-3 mr-4 px-2">
                        {{ p }}</p>
                    {% elif p >= page_obj.numper|add:-2 and page_obj.numper|add:+2 %}
                    {% else %}
                    <!--btn page -->
                    <a class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2"
                       href='?page={{ p }}'>{{ p }}</a>

                    {% endif %}
                    {% endfor %}

                </div>
                <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                    {% if page_obj.has_next %}
                    <!--Active btn next-->
                    <a class="text-sm font-medium leading-none mr-3"
                       href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% else %}
                    <!--Disable btn next-->
                    <a class="text-sm text-red-900 font-medium leading-none mr-3">Next</a>
                    {% endif %}
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer class="lg:container lg:mx-auto">
        <div class="lg:flex lg:justify-between">
        <!-- breadcrumb -->
        <div class=" lg:justify-start flex justify-center lg:mb-0 mb-6">
            {% include "breadcrumb.html" %}
        </div>
        <!--Icons-->
        <div class="flex lg:justify-end justify-center space-x-2 lg:mb-6 mb-8">

            {% include "icon.html" %}

        </div>
</div>
        <!-- Logo -->
        <div class=" lg:justify-between lg:-mt-12 grid justify-center">
            <div class="flex space-x-4">
                <img class="lg:h-24  h-12 " src="/static/home/img/svg/logo_hanna.svg"/>
                <img class="lg:w-64 w-32" src="/static/home/img/HANNA.png"/>
            </div>
        </div>

    </footer>
<!-- copyright -->
        <div class="bg-black">
            <a href="#" title="Scroll to the top of the page">
                <img style="width:47px; height:47px;" alt="Chevron pointing upwards icon - scroll to top"
                     class="mx-auto m-5"
                     src="/static/home/img/nav-ico/scroll-to-top-btn.svg"/>
            </a>
            <p class="text-center m-3">© 2022 HANNA</p>
            <p class="text-center">Design Anton Malenkij</p>
        </div>
</div>