<link rel="stylesheet" href="../static/home/css/hamburger.css">
{% load i18n %}
        <nav role="navigation" class="lg:invisible visible">
            <div id="menu-toggle">
                <input type="checkbox"/>
                <!-- Spans to act as a hamburger -->
                <span></span>
                <span></span>
                <span></span>
                <!--  nav menu      -->
                <ul id="menu">
                    <li><a
                            {% if request.resolver_match.url_name == 'home' %}
                        class="nav-link-disabled"
                        {% else %}
                        href="{% url 'home' %}" class="nav-link"
                        {% endif %}
                        >{% trans 'Home' %}</a></li>
                    <li><a
                            {% if request.resolver_match.url_name == 'news' %}
                        class="nav-link-disabled"
                        {% else %}
                        href="{% url 'news' %}" class="nav-link"
                        {% endif %}
                        >{% trans 'News' %}</a></li>
                    <li><a
                            {% if request.resolver_match.url_name == 'concerts' %}
                        class="nav-link-disabled"
                        {% else %}
                        href="{% url 'concerts' %}" class="nav-link"
                        {% endif %}
                        >{% trans 'Concerts' %}</a></li>
                    <li><a
                            {% if request.resolver_match.url_name == 'contact' %}
                        class="nav-link-disabled"
                        {% else %}
                        href="{% url 'contact' %}" class="nav-link"
                        {% endif %}
                        >{% trans 'Contact' %}</a></li>

                    <li><a
                            {% if request.resolver_match.url_name == 'about' %}
                        class="nav-link-disabled"
                        {% else %}
                        href="{% url 'about' %}" class="nav-link"
                        {% endif %}
                        >{% trans 'About' %}</a></li>
                    <li>

                        <p class="text-lg mb-4 border-b-2 border-stone-900">Languages</p>
                        <form action="{% url 'set_language' %}" method="post"
                              class="relative text-sm ml-4 pb-4" style="flex-direction: column;">
                            {% csrf_token %}
                            <input type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                            <input name="language" type="hidden" value="uk"/>
                            <input style="opacity: 1; margin-right: 3rem;  width: 2rem; height: 2rem;" class="svg-uk"
                                   type="submit" value=""/>
                            <input style="opacity: 1; 	padding-left: 3rem; padding-right: 4rem;" type="submit"
                                   value="Ukrainian"/>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post"
                              class="relative text-sm ml-4 pb-4">
                            {% csrf_token %}
                            <input type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                            <input name="language" type="hidden" value="pl"/>
                            <input style="opacity: 1; margin-right: 3rem;  width: 2rem; height: 2rem;" class="svg-pl"
                                   type="submit" value=""/>
                            <input style="opacity: 1; 	padding-left: 3rem; padding-right: 4rem;" type="submit"
                                   value="Poland"/>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post"
                              class="relative text-sm ml-4 pb-4">
                            {% csrf_token %}
                            <input type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                            <input name="language" type="hidden" value="en"/>
                            <input style="opacity: 1; margin-right: 3rem;  width: 2rem; height: 2rem;" class="svg-en"
                                   type="submit" value=""/>
                            <input style="opacity: 1; 	padding-left: 3rem; padding-right: 4rem;"
                                   class="absolute left-10" type="submit" value="English"/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

<script src="../static/home/js/hamburger.js"></script>