{% block header %}
<header class="relative flex items-center justify-center">
    <!--bg video -->
    {% if request.resolver_match.url_name == 'home' %}
    <video
            src="https://hanna-heroku-dj.s3.eu-north-1.amazonaws.com/static/home/img/dark_forest.webm"
            type="webm"
            loop
            class="clip w-full h-full object-cover absolute z-0 min-w-full max-w-none "
            autoplay=""
            muted=""
            playsinline=""
    ></video>
    {% endif %}
    <nav class="relative z-30 container mx-auto  text-white lg:flex lg:justify-between m-5">
        <!-- breadcrumb -->
        <div class="">
            <nav class="py-3 flex justify-center">
                {% include "breadcrumb.html" %}
            </nav>
        </div>

        <!-- logo -->
        {% if request.resolver_match.url_name == 'home' %}
        <div class="lg:mt-8">
            <a class="" href="/">
                <img src="/static/home/img/HANNA_LOGO.png" alt="Logo" width="92"
                     class="mx-auto">
                <img src="/static/home/img/HANNA.png" class="mx-auto lg:pb-10 "
                     alt="HANNA"
                     width="200" height="24">
            </a>
        </div>
        {% endif %}

        <!-- icon -->
        <div class="lg:visible invisible justify-end mt-5 ">
            {% include "icon.html" %}
        </div>

    </nav>
</header>
{% endblock header %}