{% block header %}
<!--header -->
<nav class="navbar navbar-light  text-white">
    <!--logo -->
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/home/img/HANNA_LOGO.png" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top img-fluid">
            <img src="/static/home/img/HANNA.png" class="d-inline-block align-text-top img-fluid" alt="HANNA"
                 width="200" height="24">
        </a>
        <!--icon -->
        {% include "icon.html" %}
    </div>
</nav>
{% endblock header %}