            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCv2a5SIFHiMClmXrIvyOhkA"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://open.spotify.com/artist/2FuV97YolreVtN0GcxEGUk?si=hXQM4MzTSyeml65EbtBTjQ"><i class="fa-brands fa-spotify"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/hannabandgd/"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/hanna_band_gd/"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>