{% extends 'base.html' %}
{% block content %}
<style> .special_bg {
    background-size: cover;
    overflow: hidden;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
</style>
<div class="relative w-full right-0 top-0 mb-10" style="height: 60vh;">
    {% include 'header.html' %}
    <!--<img class="w-full object-cover h-fit absolute z-10 min-w-full max-w-none" -->
    <img class="special_bg  absolute right-0 top-0 z-10 object-cover"
         src="/static/home/img/concert_hero.jpg"/>
</div>
<!-- concert col -->
<div class="relative z-50 mt-96">
    <div class=" text-5xl mx-auto container mb-6 "> Concerts  </div>
    {% for item in concerts %}
    <div class="flex container mx-auto mb-5">
        <!-- date and time -->
        <div class="lg:flex basis-1/6 lg:gap-x-10 grid gap-y-1 text-center mr-3">
            <div class="text-5xl">{{ item.date|date:"d" }}</div>
            <div class="gap-y-1 grid ">
                <div class="basis-1/4 text-xl">{{ item.date|date:"M" }}</div>
                <div class="basis-1/4">{{ item.date|date:"Y" }}</div>
            </div>
            <div class="basis-1/4">{{ item.time|time:"H:i" }}</div>
        </div>

        <!-- title, place and location -->
        <div class="lg:flex lf:gap-x-20 lg:basis-1/2 grid gap-y-1">
            <div class="lg:basis-1/3 text-2xl lg:text-xl">{{ item.title }}</div>
            <div class="">
                <div class="font-bold">{{ item.place }}</div>
                <div class="">{{ item.location }}</div>
            </div>
        </div>
    </div>
</div>
<div class="h-1 w-24 bg-violet-500 mx-auto mt-2 mb-4 rounded-xl "></div>

{% endfor %}
</div>

{% endblock content %}