{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}

<!-- css style -->
<link rel="stylesheet" href="../static/home/css/detail.css">

<section class="container mx-auto mt-10 blog-item mb-20 dark-mode">
    <div>
        {% if photo %}
        <img class="" src="{{photo.url}}">
        {% endif %}
        <div class="content">
            <div class="title">
                {{ title }}
                <span class="blog-date">{{ created_at|date:"Y.m.d" }}</span>
            </div>
            <div class="rounded text-justify"></div>
            <p>{{ content | linebreaks }}</p>
        </div>
    </div>
</section>

{% endblock content %}