{% extends 'base.html' %}
{% block content %}


{% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>



<div class=" -mb-14 lg:-mb-8 ">
{% include 'header.html' %}
    </div>
<style>
    .clip-poly-md {
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    }
    .clip-poly {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
</style>
<div class=" clip-poly-md  lg:clip-poly">
    {% include 'home/home_list.html' %}
</div>
{% endblock content %}