<!-- css style -->
<link rel="stylesheet" href="../static/home/css/news_list.css">

<div class=" z-20  semi-dark-mode pt-10">
    {% for item in news %}
    <div class="blog-item container mx-auto">
        <a href="{{ item.get_absolute_url }}">
            {% if item.photo %}
            <img class="lg:w-64 w-full" src="{{ item.photo.url }}">
            {% endif %}
            <div class="icon">
            </div>
            <div class="content">
                <div class="title">
                    {{ item.title }}
                    <span class="blog-date">{{ item.created_at|date:"Y.m.d" }}</span>
                </div>
                <div class="rounded "></div>
                <p class="text-white">{{ item.intro }}</p>
            </div>
            <div class="item-arrow">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    {% endfor %}
</div>