Django
Pillow

# heroku
django-on-heroku
gunicorn

python-dotenv
python-decouple

# aws S3
boto3
django-storages

# multilang
django-modeltranslation

# TinyMCE text editor
#django-tinymce

#django-ckeditor