/* clip  */
.clip-poly-b {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.clip-poly-b-md {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.clip-poly {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
}

.clip-poly-md {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
}

.clip-poly-Rectangle-b {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 15% 100%);
}

.clip-poly-Rectangle-b-mb {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 15% 100%);
}

.parallax {
    background: url("../img/band_Hanna.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    height: 1200px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* gallery */
.gallery-container {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    padding: 10px;
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}
