:root {
    --heading-color: #292922;
    --primary-color: #69e62a;
    --secondary-color: #536390;

    --font-color: #000000;
    --bg-color: #fff;

    --bg-semi-color: #e0e5ec;
    --font-semi-color: #18181b;

    /* gradient card   */
    --bg-gradient-color-from: #fdfbfb;
    --bg-gradient-color-to: #ebedee;

    /* gradient card  */
    --bg-semi-gradient-color-from: #f5f7fa;
    --bg-semi-gradient-color-to: #c3cfe2;

    /* gradient hero */
    --bg-hero-gradient-color-from: rgba(255, 255, 255, 0.7);
    --bg-hero-gradient-color-to: rgba(255, 255, 255, 0.0);

    /* navigation */
    --nav-link-disabled: #7c7a7a;
    --nav-link: #000000;
    --nav-link-hover: #c91c1c;

    /* filters  */
    --brightness: brightness(2);
    --contrast: contrast(.5);
    --grayscale: grayscale(0);
    --hue-rotate: hue-rotate(180deg);

    /* google map filter */
    --map-filrer: invert(0%);

    /* border */
    --border-color: #8239EC;
    --border-semi-color: #2296F3;
}

[data-theme=dark] {
    --heading-color: #818cab;
    --primary-color: #9A97F3;
    --secondary-color: #818cab;

    --font-color: #fff;
    --bg-color: #000;

    --bg-semi-color: #18181b;
    --font-semi-color: #e0e5ec;

    /* from-teal-800 to-blue-700  */
    --bg-gradient-color-from: #868f96;
    --bg-gradient-color-to: #596164;

    /* from-blue-900 to-teal-700 */
    --bg-semi-gradient-color-from: #29323c;
    --bg-semi-gradient-color-to: #485563;

    /* gradient hero */
    --bg-hero-gradient-color-from: rgba(0, 0, 0, 1);
    --bg-hero-gradient-color-to: rgba(0, 0, 0, 0.0);

    /* navigation */
    --nav-link-disabled: #7a7a7a;
    --nav-link: #fff;
    --nav-link-hover: #c91c1c;

    /* google map filter */
    --map-filrer: invert(100%);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* color hamburger */
.bar {
    background-color: var(--font-color);
}

.menu {
    background-color: var(--bg-color);

}

.dark-mode {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.semi-dark-mode {
    background-color: var(--bg-semi-color);
    color: var(--font-semi-color);
}

.semi-dark-mode-text {
    color: var(--font-semi-color);
}

/* gradient hero */
.dark-hero-gradient-mode {
    position: absolute;
    /*width: 100vw;*/
    width: 100%;
    background-image: linear-gradient(to bottom, var(--bg-hero-gradient-color-from), var(--bg-hero-gradient-color-to));
}

/* gradient card at page about */
.dark-gradient-mode {
    --tw-gradient-stops: var(--bg-semi-gradient-color-from), var(--bg-semi-gradient-color-to);
}

.dark-semi-gradient-mode {
    --tw-gradient-stops: var(--bg-semi-gradient-color-from), var(--bg-semi-gradient-color-to);
}


/* icon  footer*/
#chevron {
    stroke: var(--font-color);
}

/* icon logo */
#hanna-logo {
    fill: var(--font-color);
}

.svg-icon {
    fill: var(--font-color);
}

.nav-link-disabled {
    color: var(--nav-link-disabled);
}

.nav-link {
    color: var(--nav-link);
}

.nav-link:hover {
    color: var(--nav-link-hover);
}

.dark-filter-map {
    filter: var(--map-filrer);
}

.border-gradient {
    background-color: #FF3CAC;
    background-image: linear-gradient(270deg, #FF3CAC 0%, #784BA0 35%, #2B86C5 100%);

}
