body {
    font-family: 'Poiret One', cursive;
}

h2 {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

nav {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

/*icon language*/
.select-menu .select-btn {
    display: flex;
    height: 55px;
    padding: 20px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.select-menu .options {
    position: absolute;
    width: 140px;
    overflow-y: auto;
    max-height: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    opacity: 0;

}

.select-menu .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;

}

.select-menu .options .option:hover {
    background: #f2f2f2;
}

.select-menu .options .option i {
    font-size: 25px;
    margin-right: 8px;

}

.select-menu .options .option .option-text {
    font-size: 12px;
    color: #333;


}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;

}


.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 0;

    }
    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

/* header svg language */
.svg-uk {
    background-image: url('../img/svg/ukraine.svg');
    width: 2rem;
    height: 2rem;
}

.svg-pl {
    background-image: url('../img/svg/poland.svg');
    width: 2rem;
    height: 2rem;
}

.svg-en {
    background-image: url('../img/svg/united-kingdom.svg');
    width: 2rem;
    height: 2rem;
}

